*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid; */
}

#application{
    font-size: 3vmax;
}
#About{
    width: 100%;
    display: flex;
    justify-content: center;
}

#About textarea{
    width: 87%;
}

.inputSection{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 15px 15px;
   
}
.inputDivs{
    display: flex;
    justify-content: space-between;
}

#E-mail{
    width: 98%;
}

input{
    width: 21vw;
    padding: 1% 2%;
    display: flex;
    flex-wrap: wrap;
    
} 
select {
    /* width: 100%;
    padding: 7px 20px; */
    width: 23vw;
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    
} 
/* 
.inputSection div{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    margin-top:15px

} */

.hori{
    width: 91%;
    display: flex;
    flex-direction: column;
    padding: 10px 41px;
}
.var{
    width: 91%;
    display: flex;
    flex-direction: row;
    padding: 10px 41px;
    align-items: end;
    /* justify-content: center; */
}

.status{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    padding: 10px 41px;
}

#status2{
    display: flex;
    /* flex-direction: column;  */
    width:100%;
    margin-top: 1vw;
    justify-content: space-around;
}

.labelO{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 1vh;
}


.selectInn1{
    width: 100%;
}
.selectInn2{
    width: 100%;
}


#datee{
    width: 23.3vw;
    padding: 1.5% 2%;
    display: flex;
    flex-wrap: wrap;
}

#position{
    font-size: 3vmin;
}

option{
    font-size: 1vw;
}

Button{
    width: 10%;
    /* height: 20%; */
    padding: 0.5vw 1vw;
    border: none;
    background-color: crimson;
    border-radius: 5px;
    color: #fff;
}