*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: rgb(219, 69, 69);
}

li{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

li img{
    width: 40px;
    border: 2px solid black;
}

.main{
    /* height: 97vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.container{
    margin-top: 70px;
    /* background-color: blue; */
    text-align: center;
    height: 35vh;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.button{
    width: 100px;
    padding: 10px;
    background-color: #fff;
    color: black;
}


.showDice{
    border: 2px solid white;
    height: 10vh;
    width: 10vh;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;


}


.Dice-face{
    display: none;
    color: black;
    margin-top:7%;
    font-size: 40px;
        
}

/* .roll {
    animation: rolling 0.5s infinite linear;
}


@keyframes rolling {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */
.roll-history img{
    height: 20px;
}

@keyframes rollDice {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    10% {
        transform: rotateX(180deg) rotateY(0deg);
    }
    20% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    30% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    40% {
        transform: rotateX(180deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    60% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    70% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    80% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    90% {
        transform: rotateX(180deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(180deg) rotateY(0deg);
    }
}

